
        body {
            background-color: #3c7e36;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(97, 230, 36);
            }

        #nome {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        }

        .destaque {
            font-weight: 940;
            font-style: italic;
        }

       .determinado {
            font-size: 14px;
       }   

       .estudioso {
            font-size: 15px;
       }
               
       .paciente {
            font-size: 16px;
       }

       .esforcado {
            font-size: 13px;
       }
