#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5fe6b957;
  overflow: hidden;
}

.FirstContainer {
  background-color: #5fe6b957;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 976px;
  width: 900px;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #8cb7a8;
  width: 98%;
  margin-top: 1vh;
  
}

.Carousel {
  display:flex;
  width: 94.7vh;
  width: 98%;
  margin-top: 1vh;
}

.Footer {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #8cb7a8;
  height: 8vh;
  width: 98%;
  margin-top: 1vh;
  margin-bottom: 0.7vh;
  box-shadow: 0px 0px 5px 0px black;
}

.FooterItem {
  max-width: 7vh;
  transition: 0.5s;
}

.FooterItem:hover {
  transform: rotate(90deg);
}

.profile-picture {
  max-height: 19.5vh;
  margin-top: 1vh;
  border-radius: 0.5vh;
  box-shadow: 0px 1px 6px 0px black;
}

.text-description {
  box-shadow: 0px 0px 5px 0px black;
}

.text-description-box {
  background-color: #8cb7a8d9;
  border-radius: 3vh;
  border: solid 1vh #749a8d;
  color: black !important;
}

.carousel-control-next, .carousel-control-prev,
.carousel-control-next:hover, .carousel-control-prev:hover {
  color: #375249 !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #375249 !important;
  border-radius: 3vh;
  border: solid 0.3vh #375249;
}

a {
  color: #375249 !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }
